<html>
	<head>
        <meta charset="UTF-8" /> 
		<style>
		<%
		very_small = scaled(5)
		small = scaled(8)
		medium = scaled(10)
		large = scaled(12)
		very_large = scaled(18)

		dir_size = scaled(48)
		dis_size = scaled(64)

		height = scaled(16)
		%>

		h1
		{
			font-size : <%= large %>;
			text-align : center;
			margin-bottom : 0em;
		}

		table
		{	
			width : <% if half? %>100%<% else %>48%<% end %>;
			border : 1px solid black;
			border-collapse : collapse;
			margin-bottom : 1%;
			float : left;
		}

		td
		{
			font-size : <%= medium %>;
			padding : 0.1em;
			border : 1px solid black;
			height : <%= height %>;
		}

		.page
		{
			clear : both;
			page-break-after : always;
			page-break-inside : avoid;
		}

		.page:last-child
		{
			page-break-after : auto;
		}

		.resource
		{
			clear : both;
			font-size : <%= small %>;
		}

		.next
		{
			float : left;
			font-size : <%= very_small %>;
			width : 1%;
		}

		.pc_distance
		{
			font-weight : bold;
			width : <%= dis_size %>;
		}

		.direction
		{
			width : <%= dir_size %>;
			height : <%= dir_size %>;
		}

		.empty_direction
		{
			display : inline-block;
			width : <%= dir_size %>;
			height : <%= dir_size %>;
		}

		.direction_box
		{
			position : relative;
			float : left;
			width : <%= dir_size %>;
			height : <%= dir_size %>;
		}

		.direction_box img
		{
			position : absolute;
			left : 0px;
			top : 0px;
			width : <%= dir_size %>;
			height : <%= dir_size %>;
		}

		.total_direction
		{
			width : <%= dis_size %>;
		}

		.other_directions
		{
			font-size : <%= medium %>;
		}

		.total_elapsed
		{
			font-weight : bold;
			width : <%= dis_size %>;
		}

		.pc_elapsed
		{
			font-weight : bold;
			width : <%= dis_size %>;
		}

		.comment
		{
			font-size : <%= medium %>;
		}

		.speed_label
		{
			font-size : <%= medium %>;
		}

		.alert
		{
			font-weight : bold;
		}

		.altitude
		{
			text-align : center;
		}

		.altitude img
		{
			width : 100%;
			height : auto;
		}

		.distance_addition
		{
			font-size : <%= very_large %>;
		}
		</style>
	</head>
	<body>
		<% @context.each_page do |pc, i, page_max| %>
		<div class="page">
			<h1>PC<%= pc.index %> <%= i + 1 %>/<%= page_max %></h1>
			<%= altitude_graph %>

			<% @context.each_node do |node| %>
			<% if @context.enable_hide? && node.info.hide? %>
			<table>
			<tr>
				<td class="distance_addition" rowspan="2">+ k</td>
				<td rowspan="3" class="direction"><div class="empty_direction">&nbsp;</div></td>
				<td class="node_name">????</td>
				<td class="next_direction">????</td>
				<td class="total_distance">--/-- k</td>
			</tr>
			<tr>
				<td colspan="2" class="other_directions"> </td>
				<td class="total_elapsed">-:-/-:-</td>
			</tr>
			<tr>
				<td class="pc_elapsed">-:-/-:-</td>
				<td colspan="2" class="comment"> </td>
				<td class="speed"><span class="speed_label">速</span>--/--</td>
			</tr>
			</table>
			<% else %>
			<table>
			<tr>
				<td class="distance_addition" rowspan="2"><%= node_distance_addition %></td>
				<td rowspan="3" class="direction"><%= render_node %></td>
				<td class="node_name"><%= node.info.name %></td>
				<td class="next_direction"><%= node.info.next_relative_dir %> <%= node.info.next_road %></td>
				<td class="total_distance"><%= pc_total_distance %>/<%= total_distance %>k</td>
			</tr>
			<tr>
				<td colspan="2" class="other_directions"><%= node.info.other_roads %></td>
				<td class="total_elapsed"><%= total_elapsed %></td>
			</tr>
			<tr>
				<td class="pc_elapsed"><%= pc_total_elapsed %></td>
				<td colspan="2" class="comment"><%= comment %></td>
				<td class="speed"><span class="speed_label">速</span><%= node.info.target_speed %>/<%= node.info.limit_speed %></td>
			</tr>
			</table>
			<% end %>
			<% unless half? %>
			<div class="next">
				<br />
				<br />
				<br />
				＞<br />
				<br />
				<br />
				<br />
			</div>
			<% end %>
			<% end  %>

			<% @context.update_resource_status do %>
			<div class="resource">
				<% @context.res_context.each do |r| %>
				<%= resource_status(r) %>
				<% end %>
				<% @context.schedule_context.each do |sch| %>
				<%= schedule_status(sch) %>
				<% end %>
				<% @context.use do |key, value| %>
				【<%= key %> <%= value %>】
				<% end %>
				<% @context.res_context.each do |r| %>
				<%= resources_left(r) %>
				<% end %>
			</div>
			<% end %>
		</div>
		<% end %>
	</body>
</html>
