<html>
	<head>
        <meta charset="UTF-8" /> 
		<style>
		@page
		{		
			size : 210mm 148mm;
		}

		h1
		{
			font-size : 8pt;
			text-align : center;
			margin-bottom : 0em;
		}

		table
		{
			width : 48%;
			border : 1px solid black;
			border-collapse : collapse;
			margin-bottom : 1%;
			float : left;
		}

		td
		{
			font-size : 8pt;
			padding : 0.1em;
			border : 1px solid black;
		}

		.page
		{
			clear : both;
			page-break-after : always;
			page-break-inside : avoid;
		}

		.page:last-child
		{
			page-break-after : auto;
		}

		.comment
		{
			clear : both;
			font-size : 6pt;
		}
		</style>
	</head>
	<body>
		<% @context.each_page do |pc, i, page_max| %>
		<div class="page">
			<h1>PC<%= pc.index %> <%= i + 1 %>/<%= page_max %></h1>
			<%= altitude_graph(pc) %>

			<% @context.each_node do |node| %>
			<% if node.info.hide? %>
			<table>
			<tr>
				<td style="font-weight : bold; width : 11ex;">---- km</td>
				<td rowspan="3" style="width : 64px; height:64px;"><div style="display:inline-block;width:64px;height:64px;">&nbsp;</div></td>
				<td>????</td>
				<td>????</td>
				<td style="width : 11ex;">-- km</td>
			</tr>
			<tr>
				<td style="width : 11ex;">+ -- km</td>
				<td colspan="2" style="font-size:7pt"> </td>
				<td style="font-weight : bold; width : 11ex;">-:-/-:-</td>
			</tr>
			<tr>
				<td style="font-weight : bold; width : 11ex;">-:-/-:-</td>
				<td colspan="2" style="font-size:7pt"> </td>
				<td style="width:11ex;"><span style="font-size:7pt;">速</span>--/--</td>
			</tr>
			</table>
			<% else %>
			<table>
			<tr>
				<td style="font-weight : bold; width : 11ex;"><%= pc_total_distance %> km</td>
				<td rowspan="3" style="width : 64px; height:64px;"><%= render_node(node) %></td>
				<td><%= node.info.name %></td>
				<td><%= node.info.next_relative_dir %> <%= node.info.next_road %></td>
				<td style="width : 11ex;"><%= total_distance %> km</td>
			</tr>
			<tr>
				<td style="width : 11ex;"><%= node_addition(node) %></td>
				<td colspan="2" style="font-size:7pt"><%= node.info.other_roads %></td>
				<td style="font-weight : bold; width : 11ex;"><%= total_elapsed %></td>
			</tr>
			<tr>
				<td style="font-weight : bold; width : 11ex;"><%= pc_total_elapsed %></td>
				<td colspan="2" style="font-size:7pt"><%= filter(node.info.text) %></td>
				<td style="width:11ex;"><span style="font-size:7pt;">速</span><%= node.info.target_speed %>/<%= node.info.limit_speed %></td>
			</tr>
			</table>
			<% end %>

			<div style="float:left; font-size:3pt; width : 1%;">
				<br />
				<br />
				<br />
				＞<br />
				<br />
				<br />
				<br />
			</div>
			<% end  %>

			<% @context.update_resource_status do %>
			<div class="comment">
				<% @context.res_context.each do |r| %>
				<%= resource_status(r) %>
				<% end %>
				<% @context.schedule_context.each do |sch| %>
				<%= schedule_status(sch) %>
				<% end %>
				<% @context.use do |key, value| %>
				【<%= key %> <%= value %>】
				<% end %>
				<% @context.res_context.each do |r| %>
				<%= resources_left(r) %>
				<% end %>
			</div>
			<% end %>
		</div>
		<% end %>
	</body>
</html>
