<html>
	<head>
        <meta charset="UTF-8" /> 
		<style>
		<%
		very_small = scaled(5)
		small = scaled(8)
		medium = scaled(10)
		large = scaled(12)
		very_large = scaled(18)

        navi_width = scaled(40)
        navi_height = scaled(16)
		dir_width = scaled(48 + 40 * 2)
		dir_height = scaled(48 + 16 * 2)
        dir_box_size = scaled(48)
		dis_size = scaled(32)

		height = scaled(16)
		%>

		table.graph
		{
			width : 100%;
			border-collapse : collapse;
		}

        table.graph > tbody > tr > td
		{
			width : 50%;
			vertical-align : top;
			border : black 1px solid;
		}

		table.sheet
		{
			width : 100%;
			height : 100%;
			border-collapse : separate;
			border-spacing : <%= scaled(8) %>;
		}

        table.sheet > tbody > tr > td
		{
			width : 25%;
			height : 50%;
			vertical-align : top;
			border : black 1px solid;
		}

		div.hole_up
		{
			font-size : <%= small %>;
			position : absolute;
			left : <%= scaled(7.5) %>;
			top : 100px;
		}

		div.hole_down
		{
			font-size : <%= small %>;
			position : absolute;
			left : <%= scaled(7.5) %>;
			bottom : 100px;
		}

		h1
		{
			font-size : <%= large %>;
			text-align : center;
			margin-bottom : 0em;
		}

		table.tag
		{	
			width : 100%;
			border : 1px solid black;
			border-collapse : collapse;
			margin-bottom : 1%;
			float : left;
		}

        table.tag > tbody > tr > td
		{
			font-size : <%= medium %>;
			padding : 0.1em;
			border : 1px solid black;
			height : <%= height %>;
		}

        table.tag > tbody > tr > td.distance_addition
		{
			font-size : <%= very_large %>;
		}

        table.tag > tbody > tr > td.total_elapsed
		{
			font-weight : bold;
			width : <%= dis_size %>;
		}

        table.tag > tbody > tr > td.pc_elapsed
		{
			font-weight : bold;
			width : <%= dis_size %>;
		}

        table.tag > tbody > tr > td.comment
		{
			font-size : <%= large %>;
		}

        table.tag > tbody > tr > td.speed_label
		{
			font-size : <%= medium %>;
		}

		td.hole
		{
			font-size : 0px;
			width : <%= scaled(20); %>;
		}

        table.navi_table > tbody > tr > td
        {
			font-size : <%= medium %>;
        }

        td.navi_ne, td.navi_nw, td.navi_sw, td.navi_se
        {
            width : <%= navi_width %>;
            height : <%= navi_height %>;
        }

        td.navi_nw, td.navi_w, td.navi_sw
        {
            text-align : right;
        }

        td.navi_ne, td.navi_e, td.navi_se
        {
            text-align : left;
        }

        td.navi_n, td.navi_s
        {
            text-align : center;
        }

        td.navi_e, td.navi_w
        {
            vertical-align : middle;
        }

		.sheet
		{
			page-break-after : always;
			page-break-inside : avoid;
		}

		.sheet:last-child
		{
			page-break-after : auto;
		}

		.page
		{
			clear : both;
			position : relative;
			left : 0px;
			top : 0px;
			width : 100%;
			height : 100%;
		}

		.resource
		{
			clear : both;
			font-size : <%= small %>;
		}

		.next
		{
			float : left;
			font-size : <%= very_small %>;
			width : 1%;
		}

		.pc_distance
		{
			font-weight : bold;
			width : <%= dis_size %>;
		}

		.direction
		{
			width : <%= dir_width %>;
			height : <%= dir_height %>;
		}

		.empty_direction
		{
			display : inline-block;
			width : <%= dir_box_size %>;
			height : <%= dir_box_size %>;
		}

		.direction_box
		{
			position : relative;
			float : left;
			width : <%= dir_box_size %>;
			height : <%= dir_box_size %>;
		}

		.direction_box img
		{
			position : absolute;
			left : 0px;
			top : 0px;
			width : <%= dir_box_size %>;
			height : <%= dir_box_size %>;
		}

		.alert
		{
			font-weight : bold;
		}

		.altitude
		{
			text-align : center;
		}

		.altitude img
		{
			width : 100%;
			height : auto;
		}
		</style>
	</head>
	<body>
		<table class="sheet">
		<% total = 0 %>
		<% @context.each_page do |pc, i, page_max| %>
		<% if (total % 4) == 0 then %>
		<tr>
		<% end %>
		<td><div class="page">
			<div class="hole_up">○</div>
			<div class="hole_down">○</div>

			<h1>PC<%= pc.index %> <%= i + 1 %>/<%= page_max %></h1>

			<% @context.each_node do |node| %>
			<% if @context.enable_hide? && node.info.hide? %>
			<table class="tag">
			<tr>
				<td rowspan="5" class="hole">&nbsp;&nbsp;</td>
				<td colspan="2" class="comment">????</td>
                <td rowspan="5" class="direction"><table>
					<tr>
						<td class="navi_ne">&nbsp;</td>
						<td class="navi_n"></td>
						<td class="navi_nw">&nbsp;</td>
					</tr>
					<tr>
						<td class="navi_e"></td>
                        <td><div class="empty_direction">&nbsp;</div></td>
						<td class="navi_w"></td>
					</tr>
					<tr>
						<td class="navi_se">&nbsp;</td>
						<td class="navi_s"></td>
						<td class="navi_sw">&nbsp;</td>
					</tr>
                </table></td>
			</tr>
			<tr>
				<td colspan="2" class="distance_addition">+ k</td>
			</tr>
			<tr>
				<td class="speed"><span class="speed_label">速</span>--</td>
				<td class="speed"><span class="speed_label">速</span>--</td>
			</tr>
			<tr>
				<td class="total_elapsed">-:-</td>
				<td class="total_elapsed">-:-</td>
			</tr>
			<tr>
				<td class="total_distance">--k</td>
				<td class="total_elapsed">--k</td>
			</tr>
			</table>
			<% else %>
			<table class="tag">
			<tr>
				<td rowspan="5" class="hole">&nbsp;&nbsp;</td>
				<td colspan="2" class="comment"><%= node.info.name %><%= comment %></td>
				<td rowspan="5" class="direction"><table class="navi_table">
					<tr>
						<td class="navi_ne"><%= node.info.road["NE"] %></td>
						<td class="navi_n"><%= node.info.road["N"] %></td>
						<td class="navi_nw"><%= node.info.road["NW"] %></td>
					</tr>
					<tr>
						<td class="navi_e"><%= node.info.road["E"] %></td>
						<td><%= render_node %></td>
						<td class="navi_w"><%= node.info.road["W"] %></td>
					</tr>
					<tr>
						<td class="navi_se"><%= node.info.road["SE"] %></td>
						<td class="navi_s"><%= node.info.road["S"] %></td>
						<td class="navi_sw"><%= node.info.road["SW"] %></td>
					</tr>
				</table></td>
			</tr>
			<tr>
				<td colspan="2" class="distance_addition"><%= node_distance_addition %></td>
			</tr>
			<tr>
				<td class="speed"><span class="speed_label">速</span><%= node.info.target_speed %></td>
				<td class="speed"><span class="speed_label">速</span><%= node.info.limit_speed %></td>
			</tr>
			<tr>
				<td class="total_elapsed">+<%= time_addition %></td>
				<td class="total_elapsed">+<%= target_time_addition %></td>
			</tr>
			<tr>
				<td class="total_distance"><%= pc_total_distance %>k</td>
				<td><%= total_elapsed_limit %></td>
			</tr>
			</table>
			<% end %>
			<% end  %>

			<% @context.update_resource_status do %>
			<table class="tag">
			<tr>
				<td class="hole">&nbsp;&nbsp;</td>
				<td><%= total_distance %>k</td>
				<td><div class="resource">
				<% @context.res_context.each do |r| %>
				<%= resource_status(r) %>
				<% end %>
				<% @context.schedule_context.each do |sch| %>
				<%= schedule_status(sch) %>
				<% end %>
				<% @context.use do |key, value| %>
				?y<%= key %> <%= value %>?z
				<% end %>
				<% @context.res_context.each do |r| %>
				<%= resources_left(r) %>
				<% end %>
				</div></td>
			</tr>
			</table>
			<% end %>
		</div></td>
		<% if (total % 4) == 3 %>
		</tr>
		<% end %>
		<% total += 1 %>
		<% end %>
		<% if (total % 4) != 3 %>
		</tr>
		<% end %>
		</table>
		<table class="graph">
		<% ((@context.route_count + 1) / 2).times do |i| %>
		<tr>
			<td colspan="2"><%= altitude_graph(2 * i + 1) %></td>
			<td colspan="2"><%= altitude_graph(2 * i + 2) %></td>
		</tr>
		<% end %>
		</table>
	</body>
</html>
